name: Build and test

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: 18.x
          registry-url: https://registry.npmjs.org/

      - name: Install lib dependencies
        run: npm install

      - name: Serve test server
        run: npm run serve-server

      - name: Test lib
        run: npm run test

      - name: Stop json-server
        run: kill $(lsof -t -i:3000)

      - name: Build library
        run: npm run build
